<!DOCTYPE html>
    <html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>Blog dla programistów</title>
    </head>
<body>
    <div>
        <h1>Witam na stronie bloga!</h1>
        <h2>To jest blog dla programistów</h2>
        <h3>Autor: Sławomir Śpiewak</h3>
        <h4>Wszelkie prawa zastrzeżone</h4>
    </div>
    <div>
        <p>To jest Akapit</p>
        <em>To jest wyróżniony tekst</em><br>
        <strong>To jest POGRUBIONY tekst</strong><br>
        <a href="https://youtube.com">L I N K</a>
    </div>
    <div>
        <ul>
            <li>Element listy</li>
            <li>Element listy</li>
            <li>Element listy</li>
        </ul>
    </div>
</body>
</html>