<!DOCTYPE html>
    <html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>Blog dla programistów</title>
    </head>
<body>
    <div>
        <h1>Witam na stronie bloga!</h1>
        <h2>To jest blog dla programistów</h2>
        <h3>Autor: Sławomir Śpiewak</h3>
        <h4>Wszelkie prawa zastrzeżone</h4>
    </div>

    {% comment "Komentarz autora" %}
    Tutaj lista postów
    {% endcomment %}

    {% for post in posts %}
    <div>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>Opublikowany: {{ post.publishDate }}</p>
        <em>{{ post.text|linebreaksbr }}</em>
    </div>
    {% endfor %}
    <div>

    </div>
</body>
</html>